h2,h4{
    text-align: center;
}

#search{
    text-align: center;
}
.container{
    border: 5px solid white;
}
.imageFlex1{
    background-color: rgba(228, 122, 104, 0.548);
    width: 675px;
    border: 5px solid rgba(228, 122, 104,0.548);
    margin: 0 auto;
}
.imageFlex1 img{
    width: 200px;
    height: 200px;
    margin: 10px;
   
}

@media (max-height: 900px), screen and (orientation: portrait)

.imageFlex1 img{width: 100px;}

@media img(min-width: 640px) {
    .imageFlex1 {width : 200px; }
}

@media img(min-width: 768px) {
    .imageFlex1 {width: 300px; }
}

@media img(min-width: 1024px) {
    .imageFlex1 {width: 400px;}
}
.imageFlex1 {width: 100px;}

@media (min-width: 640px) {
    .imageFlex1 {width : 200px; }
}

@media (min-width: 768px) {
    .imageFlex1 {width: 300px; }
}

@media (min-width: 1024px) {
    .imageFlex1 {width: 400px;}
}
